node_modules
dist
.tmp
.sass-cache
bower_components
.hg
.svn
.CVS
intermediate
publish
.idea
_notes
dwsync.xml

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
*.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
*.iml

*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi